<div class="top-trades-container">
  <h2>Top Trades</h2>
  <div class="trade-list-grid">
    <div *ngFor="let arb of arbitragues">
      <div class="trade-list-inner-info">
        <p>
          {{
            (arb.cycle[0].edge | edgeGroomingPipe) +
              '...' +
              (arb.cycle[arb.cycle.length - 1].edge | edgeGroomingPipe)
          }}
        </p>
        <img
          class="trade-list-arrow"
          width="12"
          height="12"
          src="https://raw.githubusercontent.com/mirmich/balanced-arbitrageur/master/src/icons/arrowUpCompressed.svg"
        />
        <p class="trade-list-price">{{ arb.price | number }}</p>
        <div class="dropdown">
          <button class="dropbtn">+</button>
          <div class="dropdown-content">
            <div *ngFor="let rel of arb.cycle">
              <p>{{ rel.edge }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
