<div class="top-trades-container">
  <h2>Top Trades</h2>
  <div class="trade-list-grid">
    <div *ngFor="let arb of arbitragues; index as i">
      <div class="trade-list-inner-info">
        <p>
          {{
            (arb.cycle[0].edge | edgeGroomingPipe) +
              '...' +
              (arb.cycle[arb.cycle.length - 1].edge | edgeGroomingPipe)
          }}
        </p>
        <img
          class="trade-list-arrow"
          width="12"
          height="12"
          [src]="iconBasedOnPrice(arb.price) | safe"
        />
        <p class="trade-list-price">
          {{ arb.price * quantityInputs[i] | number }}
        </p>
        <p>Estimated TX fee:</p>
        <p>{{ arb.cycle.length * 0.09 | number }}</p>
        <p>ICX</p>
        <div class="input-row">
          <label [for]="'input' + i">Quantity</label>
          <input
            [id]="'input' + i"
            [(ngModel)]="quantityInputs[i]"
            type="number"
            min="1"
            value="1"
            class="trade-list-inner-info__input"
            alt="Enter the amount to trade"
          />
        </div>
        <button
          class="trade-list-inner-info__execute-button"
          (click)="trade(i)"
        >
          TRADE IT!
        </button>
        <div class="dropdown">
          <button class="dropbtn">+</button>
          <div class="dropdown-content">
            <div *ngFor="let rel of arb.cycle">
              <p>{{ rel.edge }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
